<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029253004219-sis1rs69n4menjismpugecfqbncmj7eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029253004219-sis1rs69n4menjismpugecfqbncmj7eh</string>
	<key>API_KEY</key>
	<string>AIzaSyARJ8ATliVYIke4VGYU7Yzt-FpCWk-RX3o</string>
	<key>GCM_SENDER_ID</key>
	<string>1029253004219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenMile</string>
	<key>PROJECT_ID</key>
	<string>green-mile-24fb2</string>
	<key>STORAGE_BUCKET</key>
	<string>green-mile-24fb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029253004219:ios:697dac3748ffc84491629e</string>
</dict>
</plist>